USE [master]
GO
/****** Object:  Database [TaskResults]    Script Date: 12/7/2022 9:58:02 PM ******/
CREATE DATABASE [TaskResults]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskResults', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\TaskResults.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskResults_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\TaskResults_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskResults].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskResults]
GO
/****** Object:  Table [dbo].[Fuzzy Lookup]    Script Date: 12/7/2022 9:58:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fuzzy Lookup](
	[CustomerID] [int] NULL,
	[FirstName] [varchar](255) NULL,
	[New First Name] [varchar](255) NULL,
	[_Similarity] [real] NULL,
	[_Confidence] [real] NULL,
	[_Similarity_FirstName] [real] NULL
) ON [PRIMARY]
GO
USE [master]
GO
